<html xmlns="html">
    <head>
        <title>Reddit Comments Explorer</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="medley.css">
    </head>
    <body>
        <nav id="nav" class="navbar navbar-default" role="navigation"></nav>

            <h3>Welcome to the /r/Seattle reddit comment explorer!</h3>

            <h4>Check out the Flask app to test a comment you're about to make or view word cloud visualizations above!</h4>

            <h4>About this project:</h4>
            <ul>Comments from <a href="https://reddit.com/r/seattle">/r/Seattle</a> from 2014-2017</ul>
            <ul>140,000+ comments</ul>
            <ul>Scores above/below +/- 10</ul>
            <ul>6:1 ratio of upvoted:downvoted</ul>



            <h6>Built by Ryan Murray</h6>



        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="/nav.js"></script>
        <script type="text/javascript" src="d3.layout.cloud.js"></script>
        <script type="text/javascript" src="medley.js"></script>
    </body>
</html>
